@media screen and (min-width: 480px) {
  .social-media-links {
    flex-wrap: nowrap !important;
  }
  .media {
    width: 35% !important;
  }
  .foot-logo {
    width: 320px !important;
  }
}
@media screen and (max-width: 480px) {
  #slick-slide00 {
    height: 581px !important;
  }
  #slick-slide00 img {
    height: 581px;
  }
}
@media screen and (min-width: 553px) {
  .why-choose-us, .our-culture {
    margin-bottom: 50px !important;
  }
  .welcome-selection {
    padding-bottom: 0px !important;
  }
}
@media screen and (min-width: 768px) {
  .cookie-footer {
    flex-wrap: nowrap !important;
  }
  .change-btn {
    width: 47% !important;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cookie-button {
    display: flex;
    flex-wrap: nowrap;
  }
  .mobile {
    display: none !important;
    visibility: hidden !important;
  }
  .search-barm {
    display: none !important;
    visibility: hidden !important;
  }
  .logo-container {
    max-width: 374px;
    padding-left: 15px;
    padding-right: 45px;
  }
  .hidden-bu {
    display: none !important;
  }
  .text-overlay {
    position: relative;
    z-index: 4;
    padding: 3.75rem 0;
    text-align: center !important;
  }
  .dis-md {
    display: inline-flex !important;
    justify-content: flex-end;
  }
  .dis-md:hover {
    text-decoration: underline;
  }
  .no-dis-sm {
    display: none !important;
  }
  .m33 {
    padding: 0 15px !important;
  }
  .m50 {
    width: 50% !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    float: left;
    margin-top: 0;
    padding: 0 15px !important;
  }
  .form-control {
    height: 56px !important;
  }
  .news-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-articles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 750px;
    justify-self: center;
    padding: 0 !important;
  }
  .article-link {
    min-width: 345px;
    justify-content: space-between;
    float: left;
    margin: 0 15px;
  }
  .a3 {
    display: none;
  }
  .m750 {
    width: 750px !important;
    justify-content: center;
  }
  .social-media-links {
    justify-content: space-between;
    width: 300px;
  }
  .social-media-links .media {
    padding: 15px 22px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .footer-links {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .fl {
    width: 50%;
    margin-bottom: 30px;
  }
  .info {
    display: inline;
    padding: 5px 0 10px;
    width: 100%;
  }
  .info br {
    display: none;
  }
  .sm {
    display: inline !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 992px) {
  .hidden-b {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .form-control {
    display: inline !important;
  }
  .btn-search {
    display: inline !important;
    border-radius: 0 3px 3px 0 !important;
  }
}
@media screen and (min-width: 993px) and (max-width: 1259px) {
  .btn-search:focus .form-control {
    display: inline-block !important;
    width: 300px !important;
  }
  .btn-search:focus #contact, .btn-search:focus #support {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .btn-search {
    display: inline !important;
  }
  .m970 {
    width: 970px !important;
    justify-content: center;
  }
  .buttons-hidden {
    display: inline;
  }
  .logo-container {
    margin-right: 100px !important;
    width: 100%;
  }
  .side-menu {
    width: 350px !important;
  }
  .logo-container {
    padding-left: 15px;
    padding-right: 15px;
    width: 42%;
  }
  .buttons-hidden {
    width: 58%;
  }
  .text-overlay {
    text-align: left !important;
    align-items: flex-start !important;
  }
  .text-overlay .h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .text-overlay p {
    font-size: 1.625rem !important;
    line-height: 2.5rem !important;
  }
  .carousel__slide::before {
    content: "";
    background: linear-gradient(270deg, transparent 25%, #000) !important;
  }
  .ikon-nav-menu {
    display: inline-flex !important;
  }
  .bs, .it, .dm, .ts, .wd, .cs, .dc {
    display: flex !important;
    min-width: 100% !important;
    margin: 0 !important;
  }
  .container-middle {
    width: 970px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container-middle .m33 {
    width: 33%;
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    margin: 0;
  }
  .container-middle .m50 {
    flex-direction: column;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    margin-bottom: 0;
  }
  .welcome-to-netmatters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .welcome-to-netmatters .welcome-selection {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
  }
  .welcome-to-netmatters .our-clients {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    padding: 0 15px;
  }
  .why-choose-us {
    margin-bottom: 17px !important;
  }
  .our-culture {
    margin-bottom: 0px !important;
  }
  .btn-google {
    margin: 40px 8px 0 0 !important;
  }
  .news-articles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 970px;
  }
  .input-news {
    width: 970px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .form-input {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-links {
    flex-grow: 1 !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    float: left;
  }
  .fl {
    width: 25%;
    margin: 0 15px;
  }
  .box-h {
    margin: 0 15px 45px 15px !important;
  }
  .none {
    display: none !important;
  }
  .side-bar {
    width: 350px !important;
  }
  .ml {
    display: block !important;
    visibility: visible !important;
  }
}
@media screen and (min-width: 1260px) {
  .triangle {
    border-width: 0px 70px 40px 80px !important;
  }
  .nav-box {
    width: 162px !important;
  }
  .form-control {
    display: inline-block !important;
    border-radius: 0;
    width: 240px !important;
  }
  .logo {
    width: 370px !important;
  }
  .w1200 {
    width: 1200px !important;
    justify-content: center;
  }
  .why-choose-us, .our-culture {
    margin-bottom: 50px !important;
  }
  .sub-menu {
    width: 1200px !important;
  }
  .btn-search {
    display: inline !important;
    border-radius: 0 3px 3px 0 !important;
  }
  .welcome-container {
    max-width: 1200px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-box {
    max-width: 150px;
  }
  .review-btn {
    display: inline-block;
  }
  .btn-google {
    margin: 0px 8px 0 0 !important;
    font-size: 1.2rem !important;
  }
  .btn-pilot {
    margin: 0px 0px 0 0 !important;
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
  }
  .container-middle {
    width: 1200px !important;
  }
  .our-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
  }
  .h-box {
    margin-bottom: 0px !important;
  }
  .m50 {
    width: 25% !important;
    flex-wrap: nowrap !important;
    padding: 0 15px !important;
    justify-content: space-between !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .m50 .p {
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-size: 0.8rem;
  }
  .c7 {
    margin-bottom: 0 !important;
  }
  .m33 {
    padding: 0 15px !important;
    width: 33%;
  }
  .m33 .p {
    font-size: 0.8rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
  }
  .news-articles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1200px;
  }
  .article-link {
    width: 33%;
    float: left;
    margin: 0 15px;
  }
  .a3 {
    display: block;
  }
  .input-news {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-grow: 1;
  }
  .inline {
    margin-top: -6px;
  }
  .footer-container {
    padding-top: 47px !important;
  }
  .footer-inner {
    flex-wrap: nowrap !important;
  }
  .media-menu {
    width: 400px;
  }
  .media-menu h4 {
    margin-top: 24px !important;
  }
  .footer-links {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    float: left;
    width: 800px !important;
    margin-bottom: 40px !important;
  }
  .fl {
    width: 25%;
    padding: 0 15px;
    margin: 0 !important;
  }
  h4 {
    width: 170px;
    margin-top: 0 !important;
  }
}

/*# sourceMappingURL=media.css.map */
