//=====================================================================================Cookie==================================================>
.cookie-pop-up{
  opacity: 1;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: rgba(0,0,0,.7);
    display: flex;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.fade-out {
 display:none;
  transition: display 0.5s ease;
}

.cookie-content{
  margin: auto;
  position: relative;
    background-color: $color-primary;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: none;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.cookie-header{
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.625rem;
  color: #333645;
  line-height: 1.4;

}
.cookie-body{
  position: relative;
  padding: 20px;
  & p{
    line-height: 1.875rem;
    margin: 0 0 25px;
    font-size: 16px;
  }
}
.cookie-footer{
  margin-top: 15px;
  padding: 19px 20px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
}

.change-btn{
  @include header-btn;
  height: auto;
  width: 100%;
  float: initial;
  font-size: 1.063rem;
  display:block;
  margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

.btn-change{
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  &:hover{
    @include darker(#999aa2);
  }
}

.btn-accept{
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  &:hover{
    @include darker(#926fb1);
  }
}

.cookie-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


//=====================================================================sticky header=====================================================//
#myHeader {
  /* Your regular styles for the header */
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.is-stuck {
  transform: translateY(-100%); /* Move the header off the screen when scrolling down */
}

//------------------------------------------------------------------------------------------------------HEADER-----------------------------------------------------/
.header{
  background-color: $color-primary;
}

.header-container{
  justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: $color-primary;


}

.inner {
  padding: 20px 0;
}

.header-top{
  align-items: center;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.cookie-btn{
  color: $color-primary;
  position: fixed;
    line-height: 22px;
    max-width: 132px;
    bottom: 0;
    left: 0;
    display: flex;
    background: #75788a;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    z-index: 100;
    font-size: .8rem;
}
.chat-container{
      position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 30;

& i{
  width:65px;
  height:65px;
  position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #333645;
    border: 1px solid #333645;
    border-radius:50%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
}
.icon-flight{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:$color-primary;
  font-size: 2em;
  padding: 5px 5px 5px 0px;
  }

//----------------------------------------------------------------------------------------------------------------header LOGO-----------------------------------------------------------------------------------------/-

.logo-container{
    vertical-align: middle;
    width: 100%;
  }

.logo{
  width: 100%;
  max-width: 402px;
  display: block;
}
//-------------------------------------------------------------------------------------Mobile----------------------------------------------------------------------------------

.mobile {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  float: right;

& .icon-phone-call{
  text-align: center;
  font-size: 32px;
  color: #333645;
  margin-left:15px;
}
}
    
    #phone:hover {
    border-bottom:1px solid #333645;
    }

    .header-right {
      float: right;
    }
//----------------------------------------------------------------------------------------------------Hamburger button---------------------------------------------------------/
.hamburger-button{
  @include header-btn;
  height: 56px;
  width: 63px;
  position: relative;
  background-color: #333645;
  cursor: pointer;
  padding:0 2rem;
  border-radius: 3px;
  border: 1px solid transparent;
  margin: auto;
  margin-right: 2%;
  margin-left: 20px;
  
  &:hover{
    background-color: #22242e;
    border-color: #191a22;
    }
  }

.hamburger-menu {
    &:active .ham-top {
      transform: translate(-50%, -50%) rotate(-315deg);
      top: 50%;
    }
    &:active .ham-mid {
      opacity: 0;
    }
    &:active .ham-bottom {
      transform: translate(-50%, -50%) rotate(-225deg);
      top: 50%;
    }
}


.ham-bar {
  width: 50%;
  height: 4px;
  background-color: $color-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s, opacity 0.8s;
}

.ham-top {
  top: 30%;
}
.ham-mid{
  top: 50%;
}

.ham-bottom {
  top: 70%;
}
//-----------------------------------------------------------------------------------------------------------------------------SEARCH bar------------------------------------------
.search-barm{
  display:flex;
  margin-top: 11px;
  background-color: rgba( 0,0,0,.1);
    outline: 1px solid hsla(0,0%,100%,.2);
    width: 100%;
    border-radius: 2px;
    position: relative;
    padding: 0 10px 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
    border: 2px solid rgba(0,0,0,.1);

  & input{
  background-color: transparent;
    height: 47px;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    outline: none;
    
  }
  & .icon-search{
  align-items: center;
  font-size: 20px;
  position: relative;
  border: none;
    color: #333645;
    line-height: 47px;
}
  & button{
width: auto;
border: none;
background-color: transparent;
}
}
//-------------------------------------------------------------------------------------------Hidden HEADER TOP-------------------------------------------------------------------------------------------------------------------/
.button-container-hidden{
  width: auto;
  }
  
  .buttons-hidden{
    float: right;
    display: flex;
    width: auto;
    
  
  }
  .btn-support{
    @include header-btn;
    background-color: $color-blue;
    border-color: $color-blue;

    & span{
      font-size: 1.438rem;
    line-height: 45px;
    margin-right: 5px;
    }
    &:hover{
  background-color: darken($color-blue, 10%);
  border-color:darken($color-blue, 15%);
    }
  }
  
  .btn-contact{
    @include header-btn;
    margin:0 20px;
    background-color: #999aa2;
    border-color: #999aa2;  

    & span{
      font-size: 1.438rem;
    line-height: 45px;
    margin-right: 5px;
    }
    &:hover{
      background-color: darken(#999aa2, 10%);
      border-color: darken(#999aa2, 15%);
    }
  }

  .btn-search{
    @include header-btn;
    display: none;
    // width: 63px;
    height: 56px;
    font-size: 1.063rem;
    border:none;
    padding: 7px 20px 3px;
    background-color: #999aa2;

    & span{
      font-size: 1.438rem;
    line-height: 45px;
    color: $color-primary;
    justify-content: center;
    display: flex;
    }
    &:hover{
      background-color: darken(#999aa2, 10%);
    }
  }
  .search-form{
    display: inline-flex;
    flex-wrap: nowrap;
      }


  .form-control{
  width: 174px;
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
  height: 47px;
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
//--------------------------------------------------------------------------------------------------NAV-HIDDEN-MENU----------------------------------------------------------------------------/
.ikon-nav-menu{
  display: none;
  background-color:#333645;
  margin: 0;
  width: 100vw;
}

.nav-box{
  display: flex;
  flex-direction: row;
  flex:1;
  flex-shrink: 1;
}

.nav-container{
  position: relative;
  display:inline-flex;
  flex-wrap: nowrap;
  flex-direction:row;
  padding: 0 10%;
  align-items: center;
  justify-content: center;

    & .nav-item{
      text-align: center;
        & .mi{
          font-size: 1.438rem;
          display: block;
          padding-bottom: 10px;
        }
    & .ikon-a {
        position: relative;
        display: block;
        color: #fff;
        padding: 19px 0 18px;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1;
        }

    small{
        display: block;
      font-size: .625rem;
      padding-bottom: 1px;
      } 
  }
}

  .icon-display{
    color: $color-blue;
  }
  .icon-bar-graph{
    color: $color-green;
  }
  .icon-phone-call, .icon-graduation-cap{
    color: $color-red;
  }
  .icon-embed{
    color: $color-purple;
  }
  .icon-security{
    color: $color-pink;
  }

.hidden{
  display: none !important;
  visibility: hidden !important;
}

.sub-menu-title{
  width: 100%;
  line-height: 1.1;
  color: $color-primary;
  margin: 15px 0;
  font-size: 2rem;
  margin-left: 40px;
}
.item-text{
  color: $color-primary;
  font-size: 1.2rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  &:hover{
    text-decoration: underline;
  }
}
.item-icon{
  display: flex;
 float: left;
  color: $color-primary !important;
  width: auto;
  margin-left: 30px;
  font-size: 1.2rem;
}
.sub-nav-menu{
  visibility:hidden;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100% !important;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: baseline;
}
.sub-nav-item{
  // visibility:hidden;
  width: 33%;
  margin-top: 10px;
  color: #fff;
    font-size: 1.2rem;
    padding: .6%;
    & a{
      margin-top: 15px;
      display: flex;
      flex-direction:row;
      align-items: center;
    }
}

.sub-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  text-align: left;
  width: 970px;
}

.triangle{
  visibility: hidden;
  display:block;
  content:"";
  width: 100%;
  height: 0px;
  border-style: solid;
  border-width: 0px 75px 40px 75px;
  border-color: transparent transparent #050505 transparent;
  transform: rotate(180deg);
  background-color:transparent;
  position:absolute;
  top: 98px;
  z-index:1100;
}

 .software:hover > .bs {
  visibility: visible;
  color:#526781;
  background-color:darken(#526781, 10%);
  width: 100% !important;
 }
 .icon-laptop{
  color: #526781;
}
.software:hover{
  background-color:#526781;
  color: $color-primary;
  .icon-laptop{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent #526781 transparent;
  }
  }

.it-support:hover > .it{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-blue, 10%);
  border-color:$color-blue transparent transparent;
}
.it-support:hover{
  background-color:$color-blue;
  color: $color-primary;
  .icon-display{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent $color-blue transparent;
  }
}
.marketing:hover > .dm{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-green, 10%);
  border-color:$color-green transparent transparent;
}

.marketing:hover{
  background-color:$color-green;
  color: $color-primary;
  .icon-bar-graph{
    color: $color-primary;
  }
.triangle{
  visibility: visible;
  border-color: transparent transparent $color-green transparent;
}
}

.telecoms:hover > .ts{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-red, 10%);
  border-color:$color-red transparent transparent;
}
.telecoms:hover{
  background-color:$color-red;
  color: $color-primary;
  .icon-phone-call{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent $color-red transparent;
  }
}

.web:hover > .wd{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-purple, 10%);
  border-color:$color-purple transparent transparent;
}
.web:hover{
  background-color:$color-purple;
  color: $color-primary;
  .icon-embed{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent $color-purple transparent;
  }
}

.cyber:hover > .cs{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-pink, 10%);
  border-color:$color-pink transparent transparent;
}
.cyber:hover{
  background-color:$color-pink;
  color: $color-primary;
  .icon-security{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent $color-pink transparent;
  }
}

.developer:hover > .dc{
  visibility: visible;
  color:$color-primary;
  background-color:darken($color-red, 10%);
  border-color:$color-red transparent transparent;
}
.developer:hover{
  background-color:$color-red;
  color: $color-primary;
  
  .icon-graduation-cap{
    color: $color-primary;
  }
  .triangle{
    visibility: visible;
    border-color: transparent transparent $color-red transparent;
  }
}