//--------------------------------------------------------------------------------------grey to color partner images----------------------------------------------------------------------

.sliding-partners img {
  @include grey-to-color;
}
  
  .clients-list {
    display: inline;
    & img{
    @include grey-to-color;
    }
  }
//----------------------------------------------Google-Partner Animation-------------------------------------------------------------------------------
.slider {
	max-height: 170px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
    padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
	}
	
	.slide-track {
    margin: 0;
		width:fit-content;
	}
	
	.slide {
    margin-right: 10px;
		height: auto;
		width: auto;
    align-self: center;
    & img{
		width: auto;
		padding: 0 10px;
		margin-left: 30px;
		max-height: 70px;
    }
	}
}