
// .side-bar{
//     height: 100%;
//     width: 0;
//     position: fixed;
//     top: 0;
//     right: 0;
//     overflow-x: hidden;
//     transition: 0.5s; 
//     height: 100%;
//     background: $color-dark-grey;
//     overflow-y: scroll;
//     & a{
//     font-size: 14px;
// }
// }
.side-bar {
    position: fixed;
    top: 0;
    right: -250px; /* Initially hidden off-screen on the right */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
    z-index: 20;
}

.side-bar.side-bar-visible {
    display: block;
    z-index: 30;
}
.main-mob-side{
    padding: 21px;
    background: $color-dark-grey;
}

.mobile-side-but{
    margin: 20px 0 ;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 19px 0 18px;
    display: block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-sub{
    padding: 0;
    & li{
        color: $color-primary;
        padding: 10px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(0,0,0,.25);
        text-decoration: none;
        border-top: 1px solid hsla(0,0%,100%,.05);
        font-size: 14px;
        line-height: 1.42857143;
        font-weight: bold;
    }
}
.mob {
    font-size: 1.438rem;
    display: block;
}
.side-titles{
    border-top: 1px solid hsla(0,0%,100%,.1);
    display: block;
    color: $color-primary;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    font-size: .875rem;
    position: relative;
}
.new-subsection{
    border-top: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.mini-menu{
    border-top: 1px solid hsla(0,0%,100%,.05);
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.25);
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: .875rem;
    text-decoration: none;
    position: relative;
    &::before{
        content: "\BB";
        padding-right: 15px;
    }
}
// .side-bar.active {
//     right: 0;
// }
// .side-bar {
//     position: fixed;
//     top: 0;
//     right: -250px; /* Initially hidden off-screen */
//     width: 250px;
//     height: 100%;
//     background-color: #333;
//     transition: right 0.3s ease;
//     z-index: 20;
//     overflow-y: auto; /* Allow scrolling in the side menu */
// }
// .content {
//     transition: margin-right 0.3s ease;
// }

.overlay.active {
    display: block; /* Ensure the overlay is displayed when active */
    z-index: 3;
}
.content.active {
    margin-right: 250px; /* moves the content over by 250*/
}
//===================================================================================================================================
.overlay {
    display :none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: opacity .5s;
}
.content {
    transition: margin-right 0.3s ease;
    position: relative;
    float: right;
    width: 100%;
    z-index: 2;
}

.side-bar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    z-index: 70;
    overflow-y: auto;
    transition: right 0.3s ease;
}

.side-bar.active {
    right: 0;
}

.content.active {
    margin-right: 250px;
}


.no-scroll {
    overflow-y: hidden;
}