

.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 400;
    padding: 21px;
    height: 100%;
    background: $color-dark-grey;
    width: 275px;
    overflow: hidden;
}

#mobile-contact{
    margin: 20px 0 0;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 19px 0 18px;
    display: block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
}

#mobile-software{
    margin: 20px 0 ;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 19px 0 18px;
    display: block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    display: flex;
    flex-wrap: wrap;
}