
//-------------------------------------------------------------------------------------------------------NEWSPAPER sign up---------------------------------------------------------------------------------------------------/
.newspaper{
  background-color: #ddd;
  & .newspaper-container{
      padding: 50px 0;
  }
  }

.nh2{
    font-weight: 400;
    margin: 0 0 15px;
    color: #333645;
      font-size: 2rem;
  }

.form-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}


.form-input{
margin-bottom: 15px;

}
label{
    font-weight: 700;
    color: #333645;
    display: inline-block;
    margin-top: 5px;
}

i{
    color: #d24d57;
}
.input-news{
  margin-bottom: 15px;
  justify-content: space-between;
}

#newsletter-email, #newsletter-name {
  height: 47px;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.left-check{
width:52px;
}

.checkbox{
    border-radius: 3px;
    height: 32px;
    width: 32px;
    position: relative;
    float: left;
    margin-right: 20px;
    border: 3px solid #333645;
    text-align: center;
  }

  .checkbox:checked{
  border-radius: 3px;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
  border: 3px solid #333645;
      .icon-checkbox-checked{
          display: inline-flex;
          margin-left: -5px;
        }
  }

.checked {
  display: none; 
}

    .icon-checkbox-checked{
      display: inline-flex;
        position: relative;
         font-size: 2em;
         text-align: center;
             line-height: 26px;
           // font-size: 31px;
           margin-left: -4px;
           border: none;
        }

.tick{
  line-height: 32px;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
  }


.submit{
  @include header-btn;
  height:auto;
  background-color: #333645;
  border-color: #333645;
  font-size: 1.063rem;
  &:hover {
    background: darken(#333645, 10%)
  }
}