//-----------------------------------------------------------------------------------------------------------SLIDER-CAROUSEL------------------------------------------------------------/
.carousel {
  position: relative;
  z-index: 1;
  perspective: 100px;
height:550px;
}

.text-overlay{
  align-self: center;
  width: 100%;
  color: $color-primary; 
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;

& p{
    margin-bottom: .375rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: $color-primary ;
    position: relative;
}
 }

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  background-size: cover; 
  background-position: center; 
  counter-increment: item;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 550px !important;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.5;
  }
  & img{
    height: 550px;
    object-fit: cover;
  }
}

.slider-button{
  @include header-btn;
  height: 62px;
  margin-top: 1.938rem;
  margin-bottom: 1.125rem;
    padding: 5px 20px;
    font-size: 1.25rem;
    line-height: 50px;
    display: inline-block;
    border: 1px solid transparent;
    z-index: 2;
}


.sl-1{
    background-color: $color-purple;
    border-color: $color-purple;

    &:hover {
      background: darken($color-purple, 10%)
    }
}
.sl-2{
background-color: #67809F;
border-color: #67809f;

&:hover {
  background: darken(#67809f, 10%)
}
}
.sl-3{
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover {
    background: darken($color-blue, 10%)
  }
}
.sl-4{
  background-color: $color-green;
    border-color: $color-green;

    &:hover {
      background: darken($color-green, 10%)
    }
}
.sl-5{
  background-color: $color-red;
  border-color: $color-red;

  &:hover {
    background: darken($color-red, 10%)
  }
}

.sl-7{
  background-color: $color-pink;
  border-color: $color-pink;

  &:hover {
    background: darken($color-pink, 10%)
  }
}

